// Colors
$backgroundCol: #435465;
$contentBackgroundCol: #fafafa;
$textCol: #1b1b1b;
$linkCol: #8f2f09;
$linkColVisited: #8f2f09;
$linkColHover: #ddac1a;
$brandCol: #009EE0;
$compCol: #CDCCB7;

// Typography
$baseline: 1.5em;

// Borders
$keylineCol: #999;

// Layout
$container: 94%;
$containerMax: 70em;
$colGutter: 1em;