/* $. LAYOUT
------------------------------------------------------------------------------------------*/

/* $. OBJECTS
------------------------------------------------------------------------------------------*/
/* -- MEDIA -- */
.body {
	overflow: hidden; }

.img {
	float: left;
	margin-right: $baseline; }

.media-alt .img {
	float: right;
	margin-right: 0;
	margin-left: $baseline; }

/* $. MODULES
------------------------------------------------------------------------------------------*/

/* $. CMS SPECIFIC
------------------------------------------------------------------------------------------*/
.alignleft { float: left; margin-right: $baseline; }
.alignright { float: right; margin-left: $baseline; }