* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
thead { display: table-header-group; }	
tr, img, pre, blockquote { page-break-inside: avoid; }	
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3 { page-break-after: avoid; }
abbr[title]:after { content: " (" attr(title) ")"; }
/*a[href]:after { content: " (" attr(href) ")"; }*/
/*a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }*/
	
/* -- Hide Stuff -- */
nav,
[role=search],
[role=complementary] {
	display: none; }